<div class="page-header">
	<h1>All Job Links</h1>
</div>
<ul id="links">
	<% @links.each do |link| %>
		<li>
			
			<h3><%= link_to link.title, link_path(link), class: 'link_title' %>
			</h3>
			<br/>
			<div class="well">
			<p>Job Link<%= link_to link.url, link.url %></p><br/>
			<p>Description:<%= link.description %></p>
			<%= link_to "Review", new_review_path %>

			</div>
			
		</li>
	<% end %>
</ul>
<div class="pagination ">
	<%= paginate @links %>
</div>
<%= link_to "Add New Job Link", new_link_path(@links), class: "btn btn-primary" %>