<h1>All Job Links</h1>

<ul id="links">
	<% @links.each do |link| %>
		<li>
			<h1><%= link_to link.title, link_path(link), class: 'link_title' %></h1><br/>
			<p>Job Link<%= link_to link.url, link.url %></p><br/>
			<p>Description:<%= link.description %></p>
		</li>
	<% end %>
</ul>
<%= paginate @links %>
<%= link_to "Add New Job Link", new_link_path(@links) %>