<footer class="footer">
<div class="row-fluid">
  <nav class="span3">
  <h3>Links About Us</h3>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">Team</a></li>
    </ul>
  </nav>

<nav class="span3">
<h3>Our Sponsors</h3>
  <ul>
    <li><%= link_to "Sponsor 1",   '#' %></li>
    <li><%= link_to "Sponsor 2", '#' %></li>
    <li><a href="#">Sponsor 3</a></li>
  </ul>
</nav>

<nav class="span3">
<h3>Recommendations</h3>
  <ul>
    <li><%= link_to "Github",   'http://github.com/' %></li>
    <li><%= link_to "Linode", 'www.linode.com' %></li>
    <li><a href="www.thoughtbot.com">Thoughtbot</a></li>
  </ul>
</nav>

<nav class="span3">
<h3>Hosted On</h3>
  <img src="http://railsrumble.com.s3.amazonaws.com/sponsors/r13/sponsor-1380389614/sidebar/linode.png" height="90" width="90" />
</nav>
</div>
</footer>